<div class="city-search">
  <span data-test-selector='search-text'>
      City Id:
  </span>
  <Input
    @value={{this.cityId}}
    data-test-selector='search-input'
  />
  <!--  <a href="/forecast/{{this.cityId}}"><button>Submit</button></a>-->
  <button
    type="button"
    data-test-selector='search-button'
    {{on "click" this.handleClick}}
  >
    Search
  </button>
</div>